:root,
* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

.hoverable:hover {
  transition: ease-in-out 0.3s;
  opacity: 0.6;
}

.white td.ant-table-cell {
  color: white;
}

.red td.ant-table-cell {
  color: red;
}

.green td.ant-table-cell {
  color: green;
}

body {
  padding: 0;
  margin: 0;
  background: #080808;
  color: #d1d1d1;
}

.ant-layout,
.ant-layout-header,
.ant-layout .ant-layout-sider,
.ant-layout-footer {
  background-color: #080808;
}

.layer-2 {
  position: static;
  z-index: 2;
}

.dashboard-card .ant-card-head {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  border-bottom: none;
}

.dashboard-card.even .ant-card-head {
  background: #5f1d1d;
}
.dashboard-card.odd .ant-card-head {
  background: #222222;
}

.recruitment-list {
  border: none;
  background: #101010;
}

.recruitment-list .ant-list-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  background: #202020;
}

.recruitment-list .ant-list-items {
  max-height: 75vh;
  overflow-y: auto;
}

.sider-button:hover {
  color: #d1d1d1 !important;
}

.sider-button:hover svg {
  transition: ease-in-out 0.3s;
  font-size: 60px !important;
}
.sider-button:not(:hover) svg {
  transition: ease-in-out 0.3s;
  font-size: 48px !important;
}

#header-background {
  position: absolute;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  background-image: url('/images/bg_map.webp');
  background-size: cover;
  z-index: 1;
}

#glowing-line {
  position: absolute;
  z-index: 99;
  border: 3px solid #698eae;
  top: 90px;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 19px 2px #698eae;
}

#login-background {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/login-background.png');
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: 50%;
  background-size: cover;
}
